@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BoldGroove";
  src: url("/fonts/bold-groove.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/work-sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-accent-yellow dark:bg-neutral-black;
  @apply text-neutral-black dark:text-neutral-white;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply prose-sm prose-zinc max-w-full dark:prose-invert md:prose prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-serif;
  @apply prose-headings:text-zinc-950 prose-headings:dark:text-zinc-50;
}

p {
  @apply text-neutral-gray dark:text-neutral-white/80;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-zinc-950/15 dark:decoration-zinc-50/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-zinc-950/25 dark:decoration-zinc-50/50;
  }

  .animate {
    @apply origin-bottom opacity-0;
  }

  .brutalism {
    box-shadow: 0.3rem 0.3rem #1e1e1e;
    border: 3px solid #1e1e1e;
    @apply dark:text-neutral-white dark:shadow-none;
  }
  .brutalism-border {
    border: 3px solid #1e1e1e;
  }
}

.subtitle {
  @apply brutalism-border relative rounded-md bg-primary px-3 py-2 font-semibold dark:bg-primary-dark;
}

.social-link {
  @apply brutalism rounded-md bg-secondary px-3 py-2 text-sm font-semibold dark:bg-secondary-dark;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}
