@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BoldGroove";
  src: url("/fonts/bold-groove.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

@layer utilities {
  .animate {
    @apply origin-bottom opacity-0;
  }

  .brutalism {
    box-shadow: 0.3rem 0.3rem #1e1e1e;
    border: 3px solid #1e1e1e;
    @apply dark:text-neutral-white dark:shadow-none;
  }
  .brutalism-border {
    border: 3px solid #1e1e1e;
  }
}

.subtitle {
  @apply brutalism-border relative rounded-md bg-primary px-3 py-2 font-semibold dark:bg-primary-dark;
}

.social-link {
  @apply brutalism rounded-md bg-secondary px-3 py-2 text-sm font-semibold dark:bg-secondary-dark;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}
