---
import { Icon } from "astro-icon/components";
---

<button id="back-to-top" class="animate relative group w-max flex py-2 px-3 items-center gap-2 flex-nowrap rounded-md brutalism bg-secondary dark:bg-secondary-dark">
  <Icon name="ph:arrow-up" />
  <div class="text-sm">
    Back to top
  </div>
</button>
