---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro"
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear()
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="flex justify-between items-center brutalism rounded-md p-4 bg-accent-orange dark:bg-accent-orange-dark">
      <div>
        &copy; {currentYear} {`|`} {SITE.NAME}
      </div>
      <div class="flex flex-wrap gap-1 items-center">
        <button
          id="light-theme-button"
          aria-label="Light theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <Icon name="ph:sun" class="size-5" />
        </button>
        <button
          id="dark-theme-button"
          aria-label="Dark theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <Icon name="ph:moon" class="size-5" /> 
        </button>
        <button
          id="system-theme-button"
          aria-label="System theme"
          class="group size-8 flex items-center justify-center rounded-full"
        >
          <Icon name="ph:monitor" class="size-5" /> 
        </button>
      </div>
    </div>
  </Container>
</footer>
