---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header class="fixed top-4 w-full z-10">
  <Container>
    <div
      class="animate flex flex-wrap justify-between bg-accent-orange p-4 rounded-md w-full brutalism items-baseline dark:bg-accent-orange-dark"
    >
      <Link href="/" underline={false}>
        <div class="font-title text-xl leading-4">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog"> blog </Link>
        <span>
          {"/"}
        </span>
        <Link href="/projects"> projects </Link>
      </nav>
    </div>
  </Container>
</header>
