---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
    <!-- Google tag (gtag.js) -->
  <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-DF9P5FDLPX"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DF9P5FDLPX');
</script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
    
    import { animate, inView, stagger } from 'motion'
    const main = () => { 
    inView('.animate', el => {
    animate(el.target, {
        opacity: 1,
        y: [20, 0]
      },
      {
        duration: 0.3,
        delay: stagger(0.15)
        })
    })
    }

    document.addEventListener('DOMContentLoaded', () => main())
    document.addEventListener('astro:after-swap', () => main())
    </script>
  </body>
</html>
