---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
  image?: string;
};

const { title, description, image = "/syd-blog.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={`${title} | ${SITE.NAME}`}
      description={description}
      image={image}
    />
  </head>
  <body class="font-sans antialiased bg-accent-yellow dark:bg-neutral-black grid size-full">
    <Header />
    <main class="my-36">
      <slot />
    </main>
    <Footer />
    <script>
      import { animate, inView, stagger } from "motion";
      const main = () => {
        inView(".animate", (el) => {
          animate(
            el.target,
            {
              opacity: 1,
              y: [20, 0],
            },
            {
              duration: 0.3,
              delay: stagger(0.15),
            },
          );
        });
      };

      document.addEventListener("DOMContentLoaded", () => main());
      document.addEventListener("astro:after-swap", () => main());
    </script>
  </body>
</html>
